
@{
    ViewData["Title"] = "Galeria";
}

<h1>@ViewData["Title"]</h1>

<img src="~/image/header.jpeg" class="img-fluid border border-5" alt="Header Carros">

<div class="container-fluid flex border border-dark p-3 my-3">
    <img src="~/image/mcqueen.jpg" class="img-fluid"/>
    <img src="~/image/mcqueenDinoco.jpg" class="img-fluid" />
    <img src="~/image/mate.jpg" class="img-fluid" />
    <img src="~/image/mateMetralhadora.jpg" class="img-fluid" />
    <img src="~/image/chickHicks.jpg" class="img-fluid" />
    <img src="~/image/sargento.jpg" class="img-fluid" />
</div>