@{
    ViewData["Title"] = "Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo, ao site do filme Carros</h1>
    <div class="container-fluid d-flex">
        <div class="card m-lg-5" style="width: 18rem;">
            <img src="~/image/logoFilmeI.jpeg" class="card-img-top" alt="Primeiro Filme">
            <div class="card-body p-3">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Ao viajar para a Califórnia, o famoso carro de corridas Relâmpago McQueen se perde e vai parar em Radiator Springs, uma cidadezinha na Rota 66. Ele conhece novos amigos e aprende lições que mudam sua forma de encarar a vida.</p>
                <a href="https://www.youtube.com/watch?v=mFp_L0Wqv8s" class="btn btn-primary">Conferiri</a>
            </div>
        </div>
        <div class="card m-lg-5" style="width: 18rem;">
            <img src="~/image/logoFilmeII.jpeg" class="card-img-top" alt="Segundo Filme">
            <div class="card-body p-3">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">O astro das corridas, Relâmpago McQueen, e o carro-guincho, Mate, viajam para disputar o primeiro Grand Prix Mundial, que irá revelar o carro mais veloz do planeta. Nessa jornada imperdível, Mate se envolve com um grupo de espionagem e vive grandes aventuras com seus amigos.</p>
                <a href="https://www.youtube.com/watch?v=lg5hj2c5Nkk" class="btn btn-primary">Conferiri</a>
            </div>
        </div>
        <div class="card m-lg-5" style="width: 18rem;">
            <img src="~/image/logoFilmeIII.jpeg" class="card-img-top" alt="Terceiro Filme">
            <div class="card-body p-3">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Durante mais uma disputa eletrizante nas pistas, o campeão Relâmpago McQueen acelerou demais e acabou perdendo o controle. Agora, após ter capotando várias vezes e quase ter partido dessa para melhor, o vermelinho vai ter sua vida alterada para sempre. O acidente foi tão grave que, com os estragos, McQueen pode ter que se aposentar de vez.</p>
                <a href="https://www.youtube.com/watch?v=2LeOH9AGJQM" class="btn btn-primary">Conferiri</a>
            </div>
        </div>
    </div>
</div>
